<!--

Purpose: Remove Sitecore.Pipelines.Initialize.PrecompileSpeakViews processor

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
   <pipelines>
     <initialize>
     	<!-- removes the PrecompileSpeakViews processors from the initialize pipeline -->
       <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
     			  <patch:delete /> 
        </processor>
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client" use="ContentTesting">
     			  <patch:delete /> 
        </processor>
     </initialize>
   </pipelines>
  </sitecore>
</configuration>